html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body > div {
	text-align: center;
	padding: 1rem 2rem;
}

button {
	background-color: #444;
	color: white;
	border: 0;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
}
button:hover {
	background-color: #666;
}
button:active {
	background-color: #222;
}

section > p {
	background-color: aliceblue;
	padding: 2rem;
}

section.view-question {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

section.view-question label {
	border: 1px dotted #ccc;
	padding: 1rem;
	cursor: pointer;
}

@keyframes pending {
	0% {
		background-color: #f0f8ff00;
	}
	50% {
		background-color: #f0f8ffff;
	}
	100% {
		background-color: #f0f8ff00;
	}
}

@keyframes error {
	0% {
		background-color: #ff3b5f00;
	}

	100% {
		background-color: #ff3b5f66;
	}
}

@keyframes success {
	0% {
		background-color: #3bff8600;
	}

	100% {
		background-color: #3bff8666;
	}
}
section.view-question.disabled {
	pointer-events: none;
}

section.view-question input:checked + label.pending {
	animation: 1s pending infinite;
}
section.view-question input:checked + label.error {
	animation: 0.5s error ease-in-out forwards;
	animation-iteration-count: 1;
}
section.view-question input:checked + label.success {
	animation: 0.5s success ease-in-out forwards;
	animation-iteration-count: 1;
}

section.view-question input {
	position: absolute;
	visibility: hidden;
}
