* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
}
body > div {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
button {
	background-color: blueviolet;
	height: 100px;
	padding: 20px;
	font-size: x-large;
}
button:active {
	background-color: brown;
}
p {
	background-color: aliceblue;
	line-height: 100px;
}

section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

label {
	border: 1px dotted #ccc;
	line-height: 50px;
	cursor: pointer;
}

input {
	position: absolute;
	visibility: hidden;
}

@keyframes pending {
	0% {
		background-color: #f0f8ffdd;
	}

	50% {
		background-color: #f0f8ff00;
	}
	100% {
		background-color: #f0f8ffdd;
	}
}

@keyframes success {
	0% {
		background-color: #73fab200;
	}

	100% {
		background-color: #73fab2dd;
	}
}

@keyframes error {
	0% {
		background-color: #fa737300;
	}

	100% {
		background-color: #fa7373dd;
	}
}

section.disabled label {
	pointer-events: none;
}

input:checked + label.pending {
	animation: 1s pending infinite;
}

input:checked + label.success {
	animation: 1s success infinite ease-in-out forwards;
	animation-iteration-count: 1;
}

input:checked + label.error {
	animation: 1s error infinite ease-in-out forwards;
	animation-iteration-count: 1;
}
